html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Vollkorn', serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 1px rgb(209, 252, 181);
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: rgb(192, 199, 187);
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: rgb(252, 244, 173);
  padding: 0 30px 30px 30px;
  border: 2px solid black;
}

img {
  display: block;
  margin: 0 auto;
}